
  <div class="flex-center">

    <ion-card>
      <ion-card-title class="flex-center" color="success">Add A Todo</ion-card-title>
      <ion-card-subtitle class="flex-center">Just enter the text and click the button</ion-card-subtitle>
      <ion-card-content>
        <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
          <ion-item>
            <ion-label position="floating">Enter Your Todo Item</ion-label>
            <ion-input type="text" formControlName="todoText"></ion-input>
          </ion-item>
          <ion-item
          *ngIf="showTextHint"
        >
          <p class="warn">Please enter a Todo Item with at least 4 characters.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Any Notes About Your Item</ion-label>
            <ion-textarea type="text" formControlName="todoNotes"></ion-textarea>
          </ion-item>
          <ion-button color="success" type="submit" size="full">Submit</ion-button>
        </form>
        <!-- the $event is the id being emitted by the child component -->
        <app-todo-list [todos]=todos (todoIdToDelete)="removeTodo($event)" (updatedToDo)="updateTodo($event)"></app-todo-list>
      </ion-card-content>
    </ion-card>



  </div>

