.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card-title {
  font-weight: bold;
  font-size: 25px;
  margin: 5px;
}

// ion-card {
//   width: fil;
// }

.warn {
  color: red;
  font-style: italic;
}
